body {
  background-color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro-menu {
  background-color: khaki;
}

.intro-title {
  color: brown;
}

.font-styler {
  font-weight: 300;
  font-style: italic;
}

img {
  width: 100%;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.sidebar-1{
  background-color: coral;
}

.sidebar-2{
  background-color: cornflowerblue;
}

.sidebar-3{
  background-color: crimson;
}